<!-- Inicio do Espaçador -->
<div class="medium-spacing d-sm-none d-md-block d-none d-sm-block d-md-none d-lg-block"></div>
<!-- Fim do Espaçador -->

<div class="container py-5 mt-5 mb-5">
    <div class="row py-5">

        <!-- Inicio da Imagem -->
          <div class="col-md-6">
            <img 
              class="w-100 ml-5 d-sm-none d-md-block d-none d-sm-block d-md-none d-lg-block" 
              src="https://i.ibb.co/1qGH3sD/programs.png"
            >
          </div>
        <!-- Fim da Imagem -->

        <div class="col-md-5 ml-5 mr-5">

            <!-- Inicio do Formulário de Edição -->
            <form action="/add" method="post">
                
                <!-- Titulo do Formulário -->
                <h2 class="text-center title-cg mb-5">Cadastro de Instituições ou Programas</h2>
                
                <!-- Campo de Usuario -->
                <div class="form-group">
                    <input class="form-control mt-2 pl-4" type="text" placeholder="Nome da Instituição ou Programa..." name="title">
                </div>

                <!-- Campo de Usuario -->
                <div class="form-group">
                    <input class="form-control mt-2 pl-4" type="text" placeholder="Informações de Contato..." name="content">
                    </textarea>
                </div>

                <!-- Botão Entrar -->
                <div class="d-flex justify-content-center">
                    <button class="btn btn-lg btn-success mt-3" type="submit">Confirmar</button>
                </div>

            </form>
            <!-- Fim do Formulário de Login -->
        </div>

    </div>
</div>