<form action="/add" method="POST">
    <p>Institução: </p>
    <input type="text" name="title">
    <p>Endereço: </p>
    <input type="text" name="content"><br><br>
    <button type="submit">Confirmar</button>
</form>
